<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Feedback Analyzer</display-name>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>questions.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/CreateQuest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgramServlet</servlet-name>
    <servlet-class>program.ProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramServlet</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgramListServlet</servlet-name>
    <servlet-class>program.ProgramListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramListServlet</servlet-name>
    <url-pattern>/ProgList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RespondentServlet</servlet-name>
    <servlet-class>respondent.RespondentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespondentServlet</servlet-name>
    <url-pattern>/Respondent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>response.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/Response</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnalyzeServlet</servlet-name>
    <servlet-class>analyze.AnalyzeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeServlet</servlet-name>
    <url-pattern>/Analyze</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListForRespondentServlet</servlet-name>
    <servlet-class>respondent.ListForRespondentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListForRespondentServlet</servlet-name>
    <url-pattern>/ListForRespondent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompareServlet</servlet-name>
    <servlet-class>analyze.CompareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareServlet</servlet-name>
    <url-pattern>/Compare</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadResponseServlet</servlet-name>
    <servlet-class>com.upload.UploadResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadResponseServlet</servlet-name>
    <url-pattern>/UploadResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>result.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Logout</location>
  </error-page>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>