@CHARSET "ISO-8859-1";

* {
		margin: 0px;
		padding: 0px;
		}
		
		
	h1 {
		text-align: center;
		border-bottom: 2px solid #009;
		margin-bottom: 50px;
		}

	div#frame{
		background-color: white;
		margin: 0px auto;
		height:500px;
		width: 1500px;
		margin-top:0px;
		z-index: 4;
	}

	
	div#nav{
		background-color: black;
		height: 50px;
	}

		
	/* rules for navigation menu */
	/* ========================================== */
	
	#nav-position{
	
		margin-left: 300px;
	}
	
	.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    
}

.sub1, .sub2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sub1 a, .sub2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sub1 a:hover, .sub2 a:hover  {background-color: #f1f1f1}


.dropdown:hover .sub1, .dropdown:hover .sub2 {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#showHomeMenu, #showCompareMenu, #result, #logout, #program, #analyze{
	
	 background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*	
	ul#navmenu {
		width: 1045px;
		margin: 0px auto;
		padding: 10px;
	}

	ul#navmenu, ul.sub1{			/*submenu for program and menu position and style*/
/*		list-style-type: none;
		font-size: 9pt;
		margin-top: 10px;
		margin-left: 300px;
		}
		
	ul#navmenu, ul.sub2{			/*submenu for analyze and menu position and style*/
/*		list-style-type: none;
		font-size: 9pt;
		margin-top: 10px;
		margin-left: 300px;
		}
		
	ul#navmenu li {					/*menu position*/
	
/*		width: 125px;
		text-align: center;
		position: relative;
		float: left;
		margin-right: -30px;
		}
		
	ul#navmenu a {
		text-decoration: none;
		display: block;
		width: 125px;
		height: 25px;
		line-height: 25px;
		background-color: #FFF;
		border: 1px solid #CCC;
		border-radius: 5px;
		
		}

	ul#navmenu .sub1 a {
		margin-top: 2px;
		
		}
	ul#navmenu li:hover .sub1 {		/*for program*/
/*		display: block;
	}
	ul#navmenu li:hover .sub2 {		/*for analyze*/
/*		display: block;
	}
		
	ul#navmenu ul.sub1 {		/*sub menu for program*/
/*		display: none;
		position: absolute;
		top: 16px;
		left: -300px;
		min-width: 120px;
		}
		
	ul#navmenu ul.sub2 {		/*sub menu for analyze*/
/*		display: none;
		position: absolute;
		top: 16px;
		left: -300px;
		}
		
	ul#navmenu li:hover > a {
		background-color: #CFC;
		}
		
	ul#navmenu li:hover a:hover {
		background-color: #FF0;
		}

	
	ul#navmenu li input{
		height : 30px;
	}
	
	.hidden>div {
    	display:none;
	}

	.visible>div {
    	display:block;
	}
	
	/*home style*/
	
	div#main{
		/*
		border-style:solid;
		border-color: black;
		*/
		height: 255px;
		width: 520px;
		margin-left: 532px;
		margin-top:-305px;
		z-index: 3;
		text-align:center;
		
		
	}
	div{
		position: relative;
	}
	
	

	.img1
	{
		
		position: relative;
		width:15%;
		z-index: -1;
		left: 320px;
	
	}

	.img2
	{
		
		position: relative;
		height:60%;
		width:60%;
		z-index: -2;
		top:150px;
		left:70px;
		
	}
	.but{
		z-index: 3;
		position: relative;
		left: 400px;
		top: 57px;
		background-color: #4CAF50; /* Green */
		border: none;
		border-radius: 22px;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.but2{
		z-index: 3;
		position: relative;
		left: 600px;
		top: 47px;
		background-color: #4CAF50; /* Green */
		border: none;
		border-radius: 22px;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 4px 2px;
		cursor: pointer;
	}
	
	.but3{
		z-index: 3;
		position: relative;
		left: 850px;
		top: -15px;
		background-color: #4CAF50; /* Green */
		border: none;
		border-radius: 22px;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.button {
		
	}
	
	.homeDiv{
		border-style:solid;
		border-color: black;
		background-color: white;
		z-index: -3;
		
	}
	
	.menuResultLeftDiv{
		float: left;
		border-style:solid;
		border-color: black;
		height: 445px;
		width: 400px;
		
	}
	.menuResultRightDiv{
		float: right;
		border-style:solid;
		border-color: black;
		height: 445px;
		width: 1088px;
		z-index: -3;
		
	}
	
	
	.hideoption { 
		display:none; visibility:hidden; height:0; font-size:0; 		/* for menu in analyze - hidden selected section option*/
	}
	
	.questOl{
  		 list-style-position: inside;
	}
	
	.menuUl{
  		 list-style-position: inside;
	}
	
	.overallResult: hover {
		background-color: yellow;
	}
	
	.menuCompareLeftDiv{
		float: left;
		border-style:solid;
		border-color: black;
		height: 445px;
		width: 400px;
		
	}
	.menuCompareRightDiv{
		float: right;
		border-style:solid;
		border-color: black;
		height: 445px;
		width: 1088px;
		z-index: -3;
		
	}
	
	.bullet-li{
		list-style-type: none;
	}
	
	.compare-questOl{
		
  		 list-style-position: inside;
	}
	
	.compare-menuUl{
		
  		 list-style-position: inside;
	}
	
	#visualization{
		
		width: 640px; /*can be in percentage also.*/
    	height: auto;
    	margin: 0 auto;
    	padding: 10px;
    	position: relative;
	}
	
	#radarChartDiv{
		height:400px;
		width:400px;
	}
	
	#selectCompareDiv{
		top:50px;
		right:100;
		margin:auto;
		height: 350px;
		width:400px;
		/*
		border-style:solid;
		border-color: black;
		*/
	}
	
	#prog1{
		border-style:solid;
		border-color:black;
		width:525px;
		height:427px;
		margin:5px;
	}
	#prog2{
		border-style:solid;
		border-color:black;
		width:525px;
		height:427px;
		margin:5px;
	}
	
	/*------styling for program menu table----*/
	
	#progTable {
	    border-collapse: collapse;
	    width: 70%;
	}

	#progTable th, td {
	    text-align: left;
	    padding: 6px;
	}

	#progTable tr:nth-child(even){
		background-color: #f2f2f2
	}

	#progTable th {
	    background-color: #4CAF50;
	    color: white;
	}
	
	#final-result{
		margin-left: 500px;
	}
	
